DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
FRONTEND_URL=""
PORT=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

OPENAI_API_KEY=""
OPENAI_MODEL=""
OPENAI_BASE_URL=""
OPENROUTER_API_KEY=""
E2B_API_KEY=""
